/* style sheet for dashboard(page2)*/

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    text-align: center;
    float: right;
}

.dashHr {
    border-bottom: 4px solid #5243ef;
}
.dashH2 {
    /font-family: 'Alegreya SC', Tahoma, New Century Schoolbook , TeX Gyre Schola, serif;/
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    color: #3d0099;
    font-weight: bold;
}

.subhead {
    /font-family: 'Alegreya SC', Tahoma, New Century Schoolbook , TeX Gyre Schola, serif;/
    font-family: Verdana;
    color: #3d0099;
    font-style: italic;
}

.page-header.page-header-dark {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.bg-gradient-primary-to-secondary {
    background-color: linear-gradient(45deg,#FF5370,#ff869a) !important;
    background-image: linear-gradient(135deg, rgba(82, 67, 239,0.8) 30%, #99d5ff 90%) !important;

}
.page-header .page-header-content .page-header-title {

    line-height: normal;
    font-size: 2.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.page-header.page-header-dark .page-header-title {
    color: #fff;

}

.page-header .page-header-content .page-header-title .page-header-icon {
    margin-right : 1rem;
    display: inline-flex;
}
.page-header .page-header-content .page-header-subtitle {
    font-size: 1.15rem;
    margin-top: 0.25rem;
}

.pb-10 {
    padding-bottom: 6rem !important;
}

.cardText {
    font-size: 20px;
}

.card-title {
    color: #1a9cc5;
}

h1, h2 {
 font-family: "Exo","Roboto","Merriweather";
 font-weight: 800;
}

h3 {
 font-family: "Exo","Roboto","Merriweather";
 font-weight: 700;
 font-size: 38px;
 text-shadow: 2px 2px #e6e6e6;
}

h4, h5 {
 font-family: "Roboto","Exo","Merriweather";
 font-weight: 500;
}

p {
 font-family: "Roboto","Helvetica-Neue","Open sans";
}